Repository testcontainers/testcontainers-go, pull requests merged in 2020-05, with the labels that each got.

#181 feat: implement skip utility function for testing
  container.go
  docker.go
  docker_test.go
  go.mod
  testing.go
  testing_test.go
Labels: type/feature, type/test-improvement

#196 Use default timeout in SQL waiter
  wait/sql.go
Labels: type/bc-break

#201 move contents from readme to docs
  README.md
  docs/contributing.md
  docs/features/build_from_dockerfile.md
  docs/features/docker_compose.md
  docs/features/follow_logs.md
  docs/features/override_container_command.md
  docs/index.md
  mkdocs.yml
Labels: type/docs

#198 fixes #192 - guard access to reaper with a mutex
  container_test.go
  reaper.go
Labels: type/bug
